@charset "utf-8";

html {
	font-size: 10px;
}

body {
	line-height: 1.2rem;
	font-family: "Ubuntu", sans-serif;
	background-color: #EEEEEE;
}

header h1 {
	padding: 2rem;
	width: 40%;
	box-sizing: border-box;
	font-size: 4rem;
	font-weight: 500;
	letter-spacing: 1px;
	color: #EEEEEE;
	background-color: #2B3036;
}

section {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

section#what h2,
section#setup h2,
section#documentation h2,
section#documentation div.left {
	padding: 2rem;
	width: 40%;
	box-sizing: border-box;
	font-size: 1.5rem;
	letter-spacing: 1px;
	color: #EEEEEE;
	background-color: #2B3036;
}

section#documentation div.right {
	padding: 2rem;
	width: 60%;
	box-sizing: border-box;
}

section#what p,
section#setup div,
section#documentation div {
	float: left;
	padding: 2rem;
	width: 60%;
	box-sizing: border-box;
	font-size: 1.2rem;
}

section#documentation {
	flex-direction: column;
}

section#documentation > ul > li {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

section#documentation div.left,
section#documentation div.right {
	padding-bottom: 3rem;
}

section#documentation div.left h3 {
	display: inline-block;
	margin: 0 1rem 1rem 0;
}

section#documentation div.left ol {
	margin-top: 2rem;
}

section#documentation div.left ol li {
	margin-top: 1rem;
	line-height: 2rem;
}

section#documentation div.right p.description {
	font-size: 1.6rem;
	line-height: 3rem;
}

section#documentation div.right ul li {
	border-left: 2rem solid #DFDFEB;
	padding: 1rem 0 1rem 2rem;
	margin-bottom: 3rem;
}

section#documentation span.type {
	padding: 0.5rem;
	border-radius: 0.3rem;
	font-size: 1rem;
}

section#documentation span.parameter {
	margin: 0 0.1rem;
	line-height: 2rem;
	font-size: 1.3rem;
	color: #7f8a95;
}

section#documentation span.value {
	color: #FFFFFF;
	background-color: #FD598E;
}

section#documentation span.default {
	color: #7f8a95;
}

section#documentation span.constructor {
	background-color: #456DA0;
}

section#documentation span.method {
	background-color: #757E2B;
}

code {
	display: block;
	margin: 1rem 0;
	padding: 2rem;
	border-radius: 0.6rem;
	letter-spacing: 1px;
	line-height: 1.8rem;
	/*white-space: pre;*/
	color: #EEEEEE;
	background-color: #2B3036;
}

p code {
	display: inline-block;
	padding: 0.5rem 0.8rem;
	border-radius: 0.2rem;
	color: #EEEEEE;
	background-color: #2B3036;
}

code span.tabulation {
	display: inline-block;
	width: 3rem;
}

code span.tabulation-2 {
	display: inline-block;
	width: 6rem;
}

code span.tabulation-3 {
	display: inline-block;
	width: 9rem;
}

code span.tagName {
	color: #FD598E;
}

code span.tagAttributeName {
	color: #A6E22A;
}

code span.tagAttributeValue,
code span.jsString {
	color: #DADB74;
}

code span.jsVariable,
code span.jsFunction {
	color: #57D6EF;
}

code span.jsBoolean {
	color: #D094F7;
}

/* GENERIC */

a[href^="#"]:hover:before {
	position: absolute;
	display: inline-block;
	content: "#";
	left: -1.5rem;
	opacity: 0.3;
}

.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}