@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
	color: inherit;
}

html {
	font-size: 10px;
}

html,
body,
header,
main,
section {
	height: 100%;
}

body {
	background-color: #333;
}

ul, li {
	list-style: none;
}

li {
	display: block;
	width: 50px;
	height: 60px;
	margin: 10px 0;
	background-color: green;
	background-image: url("img/thick.png");
	background-size: 50px 50px;
}

#stats {
	color: white;
	font-size: 40px;
}