@charset "utf-8";

* {
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	color: inherit;
}

html {
	font-size: 10px;
}

html,
body,
header,
main,
section {
	height: 100%;
}

body {
	background-color: #333;
}

nav {
	text-align: center;
}

nav a {
	display: inline-block;
	line-height: 40px;
	height: 40px;
	padding: 0 10px;
	font-size: 15px;
	color: #FFFFFF;
}

ul, li {
	overflow: hidden;
	position: relative;
	list-style: none;
}

li {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -30px;
	width: 20px;
	height: 20px;
	background-color: rgba(100,100,100,1);
	background-image: url("img/thick.png");
	background-size: 50px 50px;
}

#stats {
	color: white;
	font-size: 40px;
}